body{
    overflow-x : hidden;
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}
.menu{
    background-image: url(/wood-slanted.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-beige{background-color: #E9DCD2;
}